.whole{
    display: flex;
    justify-content: center;
    align-items: center; /* Added for vertical centering */
    height: 100vh;
    background-color: #001F3F;
   
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FF91A4;
    padding: 0px 10px 10px 10px;
    /* top right bottom left */
    border-radius: 30px;
    border: 7px solid rgb(247, 241, 244);
}
}
.button{
    width: 50px;
    padding: 12px;
    margin: 3px;
    border: 1px solid white;
    border-radius: 15px;
    font-size: 20px;
    background-color: white;
}

.input {
    padding: 10px 10px; /* Adjust padding values as needed */
    margin-bottom: 5px;
    border-radius: 10px;
    font-size: 17px; /* Adjust the font size as needed */
    border: 3px solid rgb(247, 241, 244);
}

h1{
   
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.button:active{
    background-color: rgb(227, 224, 224);
}
